@media screen and (max-width: 980px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.pagewidth {
		max-width: 100%;
	}
 #global-menu ul {
       padding-left: 10px;
        }

        #global-menu li a {
    padding: 5px 1.6em;
        }

        .sf {

    padding: 2px;
    width: 25%;
}

        .sidebar2 #contentwrap {
        padding-left: 10px;
        }


        .header-widget .widget,
        .sidebar2 #contentwrap,
        .sidebar2 #sidebar,
        #toplogo-bar .logo,
        #topdept-bar{
                padding-left: 10px !important;

        }
        .social-widget{
                padding-right: 10px;
        }
        #footerwrap footer{
        padding-left: 10px;
        }

	
	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2,
	.col4-3,
	.col3-1,
	.col3-2,
	.col2-1
	{
		margin-left: 2%;
	}
	.col4-1 {
		max-width: 23%;
	}
	.col4-2, .col2-1 {
		max-width: 48%;
	}
	.col4-3 {
		max-width: 72%;
	}
	.col3-1 {
		max-width: 31%;
	}
	.col3-2 {
		max-width: 62%;
	}
	
	/************************************************************************************
	LAYOUTS
	*************************************************************************************/
	/* grid4 */
	.grid4 .post {
		width: 23.125%;
		margin-left: 2.5%;
	}

	/* grid3 */
	.grid3 .post {
		width: 31%;
		margin-left: 3.5%;
	}

	/* grid2 */
	.grid2-thumb .post,
	.grid2 .post {
		width: 48%;
		margin-left: 3.75%;
	}

}
/************************************************************************************
         Styles for Droid X - 854 x 480
*************************************************************************************/
@media screen and (max-width: 854px) {

}

/************************************************************************************
        Styles for iPad 1 and iPad 2 - 1024 x 768
*************************************************************************************/
@media screen and (max-width: 768px) {

        .pagewidth {
                max-width: 100%;
        }


        sidebar2 #contentwrap,
        .sidebar2 #sidebar,
        #toplogo-bar .logo,
        #topdept-bar{
                padding-left: 10px !important;

        }

        /************************************************************************************
 *         HIDE FOLLWOING ELEMENTS
 *                 *************************************************************************************/
        #panel,
        #navsun,
        a.but,
        a.close,
        a.open,
        a.mylink,
        .center,
        .drawer,
        .toggle,
        .cell,
        .sf,
        #main-nav,
        .social-widget,
        #global-menu,
        #urihomebutton,
        #sidebar ul ul ul,
        #footer .center img,
        #footer .right{
                display: none;
        }

        #toplogo-bar .quick {
    float: right;
    padding-right: 10px;
    width: 50%;
        }

        #topdept-bar {
    height: auto;

        }

        #topdept-bar #site-logo {
    float: left;
    position: static;
        width: 25%;
        padding: 10px 0 0;
        }

        #topdept-bar #deptsec {
    margin-left: 25px;
        margin-top: 5px
        }

        #deptsec #site-title{
        font: 2em/150%;
        }


	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	/* reset all to fullwidth */
	#contentwrap,
	#content,
	#sidebar-alt, 
	#sidebar {
		width: 97% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
        .sidebar2 #sidebar-alt,
        .sidebar2 #sidebar{
        width: 22%;
        border-top: 2px solid #d9AA00;
        padding: 10px 0;
}

	
	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* reset absolute elements to static */
	#header .social-widget, #main-nav  {
		position: static !important;
		float: none;
		clear: both;
	}
	
	/* header */
	#header {
		height: auto !important;
                background-color: #FBDFE4;
                clear:both;
        }

	
	/* header widget */
	.header-widget {
		position: static !important;
		float: none;
		text-align: left;
		clear: both;
		margin: 0;
	}
	.header-widget .widget {
		margin: 0;
	}
	
	/* social widget */
	#header .social-widget {
		padding: 5px 0 0;
	}

	/* search form */
	#header #searchform {
		position: absolute;
		left: inherit;
		right: 0;
		width: 150px;
	}
	#header #searchform #s {
		float: right;
	}
	#header #searchform input#s:focus {
		width: 150px;
	}
	
	/* site logo */
	#site-logo {
		padding: 15px 100px 10px 0;
		margin: 0;
	}

	/* site description */
	#site-description {
		margin: 0 0 10px;
	}

	/************************************************************************************
	MAIN NAV
	*************************************************************************************/
	#main-nav {
		height: auto;
		padding: 10px 0 0;
	}
	#main-nav a {
		min-height: 0;
		padding: 0 10px 8px;
	}
	#main-nav a span{
		display: none;
	}
        .sidebar2 #sidebar .widget{
                margin: 0;
        }

        .sidebar2 #sidebar{
        padding: 0;
        }

        .pagenav {

        width: 95%;
}


	/************************************************************************************
	FOOTER
	*************************************************************************************/
	.footer-nav-wrap,
	.footer-text {
		width: 100%;
		float: none;
		clear: both;
		text-align: left;
	}

}

        .wmtop {
    margin: 0 auto;
    padding: 4px;
    width: 99%;
        }

        #footerwrap footer{
        padding-left: 10px;
        }

}

/************************************************************************************
        Styles for iPhone 4 - 960 x 640
*************************************************************************************/
@media screen and (max-width: 640px) {
        #topdept-bar #deptsec {
    margin-left: 25px;
    padding-left: 0;
    width: 68%;
        margin-top: 0px;
        }
        #deptsec #site-title {
    font-size: 2em;
    }

        #deptsec #site-tagline {
    line-height: 1.1em;
        }
	/************************************************************************************
	LAYOUTS
	*************************************************************************************/

	/* grid4 */
	.grid4 .post, .sidebar1 .grid4 .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}

	/* grid3 */
	.grid3 .post, .sidebar1 .grid3 .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	
        .list-large-image .post-image {
        float:none !important;
        }

        .wmtop p {
        margin: 15px 0;
        }

}

@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

        #toplogo-bar .quick,
        #toplogo-bar .sf,
        #topdept-bar #site-logo {
                display: none;
        }
        #topdept-bar {
    height: auto;
        }
        #topdept-bar #deptsec {
    margin-left: 0;
    margin-top: 5px;
        padding-top: 0;
        }

        #deptsec #site-tagline  {
                color: #ffffff;
                margin: 0;
                font-size: 1em;
                line-height: 1.0em;
                font-style: normal;
                padding-top: 5px;
                padding-bottom: 0;
        }

        #deptsec #site-title  {
    font-size: 1.9em;
        }
        .sidebar2 #contentwrap{
                padding-left: 0px !important;

        }

        #toplogo-bar .logo,
        #topdept-bar,
        .sidebar2 #sidebar,
        .sidebar2 #content,
        .sidebar2 #sidebar,
        .sidebar2 #sidebar-alt{
                padding-left: 10px !important;

        }

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}

        .sidebar2 .grid3 .post,
        .sidebar1 .grid3 .post {

                width: 100%;
        }

	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* site logo */
	#site-logo {
		font-size: 42px;
		text-align: left;
		padding-right: 90px;
		width: auto;
	}
	
	/* site description */
	#site-description {
		text-align: left;
		margin: 0 0 10px;
	}

        /* searchform */
        #header #searchform {
                left: inherit;
                top: 20px;
                right: 0;
                width: 150px;
                display: none;
        }
        #header #searchform #s {
                float: right;
                width: 40px;
                display: none;
        }

	/* social widget */
	.social-widget {
		position: static !important;
		float: none;
		padding: 0;
                display: none;
	}
	
	/* top nav */
	#top-nav {
		padding-right: 0;
                display: none;
	}
	#top-nav a {
		font-size: 85%;
		margin-right: 3px;
                display: none;
	}
	/************************************************************************************
	MOBILE NAV BUTTON
	*************************************************************************************/
	.mobile-button {
		position: relative;
		width: 32px;
		height: 30px;
		margin-bottom: 3px;
		margin-right: 3px;
		display: block;
		float: right;
		cursor: pointer;
	}
	.mobile-button:after {
		border: solid 1px #7a7a7a;
		padding: 1px;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: -1;
		
		background-color: #c3c3c3;

		background-image: -moz-linear-gradient(top,  #d8d8d8 0%, #999898 100%);
		background-image: -webkit-linear-gradient(top,  #d8d8d8 0%,#999898 100%);
		background-image: linear-gradient(top,  #d8d8d8 0%,#999898 100%);
		
		-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px rgba(255,255,255,.5), 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px rgba(255,255,255,.5), 0 1px 2px rgba(0,0,0,.2);
		box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px rgba(255,255,255,.5), 0 1px 2px rgba(0,0,0,.2);
		
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	/************************************************************************************
	MAIN NAV (MOBILE)
	*************************************************************************************/
	#main-nav-wrap {
		position: absolute;
		top: 20px;
		right: 0;
		z-index: 1000;
	}
	
	/* menu icon */
	#menu-icon {
		background: url(images/menu-icon.png) no-repeat center center;
	}
	
	/* main nav */
	#main-nav {
		clear: both;
		position: static;
		width: 160px;
		z-index: 1000;
		padding: 10px 5px;
		background: #fff !important;
		border: solid 1px #999 !important;
		display: none; /* visibility will be toggled with jquery */
		
		-webkit-box-shadow: 1px 2px 0 rgba(0,0,0,.2);
		-moz-box-shadow: 1px 2px 0 rgba(0,0,0,.2);
		box-shadow: 1px 2px 0 rgba(0,0,0,.2);
		
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	#main-nav li {
		clear: both;
		float: none;
		margin: 5px 0 5px 10px !important;
		padding: 0 !important;
		border: none !important;

		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	#main-nav a, 
	#main-nav ul a {
		font: inherit !important;
		text-transform: inherit !important;
		background: none !important;
		width: auto !important;
		display: inline !important;
		padding: 0 !important;
		color: #666 !important;
		border: none !important;

		text-shadow: none !important;

		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	#main-nav a:hover, 
	#main-nav ul a:hover {
		background: none !important;
		color: #000 !important;
	}
	
	/* dropdown */
	#main-nav ul {
		position: static;
		display: block;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	/************************************************************************************
	SEARCH FORM
	*************************************************************************************/
	#searchform-wrap {
		position: absolute;
		top: 20px;
		right: 40px;
		z-index: 1000;
	}
	#search-icon {
		background: url(images/search-icon.png) no-repeat center center;
	}
	
	#header #searchform {
		clear: both;
		width: auto;
		position: static;
		overflow: hidden;
		background: #fff;
		border: solid 1px #999;
		padding: 5px;
		display: none; /* visibility will be toggled with jquery */
		
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	#header #searchform #s {
		background: #ddd !important;
		color: #444 !important;
		padding-left: 8px;
	}
	/************************************************************************************
	SLIDER
	*************************************************************************************/
	.slider {
		font-size: 90%;
	}

	/************************************************************************************
	LAYOUTS
	*************************************************************************************/
	/* post */
	.post {
		width: 100% !important;
		margin-left: 0 !important;
		float: none !important;
	}
	
	/* post title */
	.post-title {
		font-size: 2em !important;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev, .post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}
	
	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 10px 10px 0;
	}

	/* commentlist sub-levels */
	.commentlist ul, .commentlist ol {
		margin: 0 0 0 7%;
	}

	/************************************************************************************
	FOOTER
	*************************************************************************************/
	#footer-logo {
		position: static !important;
	}
	.footer-nav {
		padding: 0;
	}

}
@media screen and (min-width: 481px) {

	/* ensure #nav and #searchform is visible on desktop version */
	#main-nav,
	#headerwrap #searchform {
		display: block !important;
	}

}
